coverage==4.2
-e hg+ssh://hg@bitbucket.org/anthony_tuininga/cx_freeze@3a7f07f4d31f68d7659612827018e8997c3bbf94#egg=cx_Freeze
py==1.4.31
pytest==3.0.3
pytest-cov==2.4.0
-e git+git@github.com:konchris/supreme_broccoli.git@0af4909a7d8dfaa3f078bc3336f5fb9ababa96d4#egg=supreme_broccoli
